@charset "UTF-8";

code {
  --code-color: rgba(250, 250, 250, 0);
  color: black;
}

body {
  font-family: Palatino, Georgia, 'Times New Roman', Times, serif;
}

nav {
  margin: 50px auto;
  max-width: 720px;
}

code {
  font-family: JuliaMono, 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo,
    'DejaVu Sans Mono', monospace, monospace !important;
  vertical-align: bottom;
  border-radius: 4px;
  font-size: 0.85em;
}

.hljs {
  background: rgba(250, 250, 250, 0);
  border-radius: 4px;
  color: black;
  padding: 0.5em 2em;
}

/* admonitions; remove sharp border; round corners */

.admonition {
  border-radius: 4px;
}

.warning {
  border: 0.25em solid #fff3c5;
}

.admonition code {
  --code-color: rgba(250, 250, 250, 0);
}

/* menu bar */

#search-input {
  border-radius: 8px;
  margin: 0 auto;
  max-width: 50em;
}

#menu-toggler {
  padding-left: 6px;
}

a {
  color: var(--fg);
}

/* from Tufte css https://edwardtufte.github.io/tufte-css/# */
a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8),
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8,
    0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8,
    -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8,
    -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

hr {
  background-color: gray;
}

#page-navigation a:link {
  background: none;
}

/* hljs ascetic theme */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: #000;
}
.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-link,
.hljs-section,
.hljs-string,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #888;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
  color: #ccc;
}
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-type {
  font-weight: 700;
}
.hljs-emphasis {
  font-style: italic;
}
